* {
	padding: 0;
	margin: 0;
}

body {
	background: rgb(41, 128, 185);
}
#wrapper {
	background: #fff;
	border-radius:5px;
	margin:32px;
	padding: 22px;
	box-shadow:0 0 10px rgba(0,0,0,0.5);

}
#wrapper h1 {
	margin-bottom: 10px;
}
